
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
    display: block;    
}

.container {
    position: absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    padding: 10px;
}
.mt-4{
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 26px;
}


.mb-3 {
    border-bottom: solid #f0f0f0;
    padding: 5px;
}

.data {
    font-weight: 500;
    margin: 20px;
    background-color: #86BA90; /*C08552*/
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.3);
}

.data label {
    padding-left: 10px;
    margin-top: 5px;
}

.sub {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 580px;
}
.sub button{
    border-radius: 20px;
    background-color: #fdf2cd;
    width: 100px;
    height: auto;
}

.sub a {
    font-size: 20px;
    padding-top: ;
}



